html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.icon span {
    font-size: 30px;
    margin-right: 10px;
    color: #000;
}

.icon span:hover {
    color: #FFCCFF;
    cursor: pointer;
}

.hotline {
    padding-top: 10px;
}

.dk {
    padding-top: 10px;
}

.dk a {
    color: #000;
}

.thanhheader {
    background: #CCCCCC;
    padding-top: 2px;
}

.thanhmenu {
    margin-top: 50px;
}

.row1 {
    margin-top: 30px;
}

video {
    margin-top: 5px;
}

.taobang {
    background: #FF9966;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.anh-nen {
    position: relative;
}

.tieu-de-anh-nen {
    position: absolute;
    margin-top: -490px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
}

#btn-next {
    color: black;
    font-size: 30px;
    position: absolute;
    margin-top: -300px;
    text-align: right;
    width: 20px;
    color: white;
    margin-left: 1500px;
    /* font-size: 20px; */
}

#btn-back {
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: -300px;
    text-align: left;
    width: 20px;

    /* font-size: 20px; */
}

.tieu-de-anh-nen h1 {
    color: rgb(54, 12, 12);
    font-family: cursive;
    font-size: 75px;
}

.anh-nen img {
    width: 100%;
    height: 700px;
    max-height: 600px;

}

.phan2 {
    width: 100%;
    margin-right: 15px;
}

.bao-bang {
    margin-top: 5px;
    margin: 0 auto;
}

.ten-bang {
    text-align: center;
    background: rgb(54, 12, 12);
    color: white;
    width: 99%;
}

.column {
    width: 25%;
    float: left;

}

.item-column {
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px #b1ccef;
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.item-column .image {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-column .ten-item-column a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.item-column:hover {
    background: rgba(192, 189, 189, 0.3);
}

.gia {
    font-size: 18px;
    color: red;
    font-weight: 900;
    font-family: Tahoma;
}

.btn.btn-default {
    color: rgb(54, 12, 12);
    border: 1px solid rgb(54, 12, 12);
    border-radius: 5px;
}

.btn.btn-default:hover {
    color: white;
    border: 1px solid rgb(54, 12, 12);
    background: rgb(73, 17, 17);
    border-radius: 5px;
}

/* ll */
.column-cart {
    width: 300px;
    height: 10;
    box-shadow: 2px 3px 1px 1px #0e0e0e7a;
    background: #fff;
    display: none;
    margin-left: -200px;
    z-index: 1;
    margin-top: 50px;
    margin-left: -189px;
}

.active {
    display: block !important;
    position: absolute;
}

#icons-cart {
    width: 40px;
    margin-left: -1350px;
    margin-top: -40px;
}

.item-column-cart {
    border-radius: 2px;
    /* box-shadow:  2px 1px 1px 2px #787373; */
    background: white;
    margin: 10px;
    position: relative;
}

.item-img-cart {
    width: 30%;
    float: left;
    padding-top: 55px;
}

.image-cart {
    max-width: 50px;
    height: 50px;
    float: left;
    margin-top: -60px;
}

.cart-total {
    padding: 10px;
}

.ten-item-column-cart {
    width: 70%;
    float: right;
}

.item-column-cart .ten-item-column-cart a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.gia-cart {
    font-size: 13px;
    color: red;
    font-weight: 900;
    font-family: Tahoma;
}

.soluong-cart {
    font-size: 13px;
    color: red;
    font-weight: 900;
    font-family: Tahoma;
}

.btn-remove {
    color: rgb(54, 12, 12);
    border: 1px solid rgb(54, 12, 12);
    border-radius: 5px;
    background: #fff;
    height: 30px;
    width: 20%;
    margin-left: 25%;
}

.btn-remove:hover {
    color: white;
    border: 1px solid rgb(54, 12, 12);
    background: rgb(54, 12, 12);
    border-radius: 5px;

}

.btn-dathang {
    color: rgb(54, 12, 12);
    border: 1px solid rgb(54, 12, 12);
    border-radius: 5px;
    background: #fff;
    height: 30px;
    width: 30%;
}

.btn-dathang:hover {
    color: white;
    border: 1px solid rgb(54, 12, 12);
    background: rgb(54, 12, 12);
    border-radius: 5px;
}

.btn {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    color: red;
    font-size: 13px;
    padding: 7px 12px;
    background: white;
}

.btn-user {
    font-size: 35px;
    margin-left: 700px;
    width: 100px;
}

#user {

    display: none;
    background: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding: 5px;
    height: 80px;
    border-top: #CD6509 5px solid;
}

#user a {
    color: white;
    width: 100%;
    padding: 5px;
    float: left;
}

#user a:hover {
    color: rgb(216, 167, 6);
}

.btn-cart {
    float: right;
    font-size: 350px;
}

.fa {
    margin-top: 20px;
    color: #FFF
}

.clear {
    clear: both;
}

.tieu-de-noi-dung-2 {
    font-size: 40px;
    font-family: cursive;
    color: white;
}

.noi-dung-gioi-thieu-p-2 {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

#icons-cart {
    width: 40px;

}

.btn-cart1 {
    width: 50px;
    float: right;
    margin-top: 20px;
}

.thongtin-sp {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modleContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 500px;
}

.thongtin-sp1 {
    width: 30%;
    float: left;
}

#image-cart-tt {
    margin-left: -45px;
}

.thongtin-sp2 {
    width: 60%;
    float: right;
}

#gia-cart-tt {
    font-size: 13px;
    color: red;
    font-weight: 900;
    font-family: Tahoma;
    margin-left: 75px;
}

#gia-cart-tt-tong {
    font-size: 13px;
    color: red;
    font-weight: 900;
    font-family: Tahoma;
}

#btn-add-to-cart {
    color: rgb(54, 12, 12);
    border: 1px solid rgb(54, 12, 12);
    border-radius: 5px;
    width: 30%;
    height: 30px;
    background: white;
}

#btn-add-to-cart:hover {
    color: white;
    border: 1px solid rgb(54, 12, 12);
    background: rgb(54, 12, 12);
    border-radius: 5px;
}

#ten-item-column {
    font-size: 20px;
    color: black;
    font-family: cursive;
}

#ten-item-column a {

    color: black;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#wap_lienhe {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#lienhe {
    /* display: none; */
    width: 25%;
    background: #ffffffe1;
    box-shadow: 0px 3px 3px 2px #beb8b8;
    float: left;
    margin-left: 580px;
    text-align: center;
}

#flienhe .inputlh {
    padding: 5px;
    width: 100%;
}

#flienhe .inputlh input,
textarea {
    padding: 10px;
    width: 80%;
}

#btn-lienhe {
    background-color: rgb(54, 12, 12);
    border: 0;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    box-shadow: 0px 5px 0px rgba(63, 13, 13, 0.733);
    width: 86% !important;
    height: 50px;
}

#btn-lienhe:hover {
    background-color: rgba(63, 14, 14, 0.911);
    box-shadow: 0px 2px 0px 0px rgba(63, 13, 13, 0.733);
}

.close_lh {
    color: #fa0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -90px;
    margin-right: 5px;
}

.close_lh:hover,
.close_lh:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span {
    color: red;
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: rgb(37, 9, 9);
    color: white;
    min-height: 200px;
}

.footer_wap {
    width: 80%;
    margin: 0 auto;
}

.box_footer {
    width: 31%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
}

.Copyright {
    text-align: center;
    color: #666;
    padding: 10px;
}

h3 {
    color: rgb(216, 167, 6);
    font-size: 25px;
}

.p_footer {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn-lienhengay {
    position: relative;
    background-color: #e67e22;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    box-shadow: 0px 5px 0px #CD6509;
    width: 50%;
    height: 50px;
}

#btn-lienhengay:hover {
    background-color: #FF983C;
    box-shadow: 0px 2px 0px 0px #FF983C;
}

.column-tintuc {
    width: 25%;
    float: left;
}

.item-column-tintuc {
    box-shadow: 3px 3px 1px 2px #d9d9d9;
    margin: 10px;

    text-align: center;
    position: relative;
}

.item-column-tintuc:hover {
    box-shadow: 3px 3px 1px 2px #646464;
}

.item-column-tintuc .image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-column-tintuc .ten-item-column a {
    color: red;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.item-column-tintuc .ten-item-column a:hover {
    color: rgb(76, 0, 255);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.sp {
    margin-top: 30px;
}

.item-column img {
    font-size: 50px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.item-column img:hover {
    transform: scale(1.3);
}

.item-column button {
    margin-bottom: 30px;
}

.footer {
    background: #CCCCCC;
    margin-top: 30px;
}

.footer-header p {
    margin-top: 20px;
}

h4 {
    color: red;
}

.chinhsua {
    width: 100px;
    height: 100px;
}

.chinhchu {
    margin-top: 10px;
}

.container {
    margin-top: 10px;
}